
.home {
    min-height: calc(100vh - 50px);
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 3fr 1fr;

    .home-left {
        padding: 2rem;
    }

    .home-right {
        padding-top: 4rem;
        padding-right: 3rem;
    }
}

.sidebar {
    background-color: rgb(19, 18, 18);
    color: rgb(190, 213, 235);
    padding: 1rem;
    height: 80vh;
    border: 1px solid black;
    border-radius: 20px;
}