
.main-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 2rem;
    height: 50px;
    align-items: center;
    background-color: rgb(19, 18, 18);

    .main-navigation-left {
        display: flex;
        align-items: center;
    }

    .main-navigation-right {
        display: flex;
        align-items: center;
    }

    .main-nav-link {
        color: rgb(190, 213, 235);
        text-decoration: none;
        margin: 0 1rem;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: rgb(106, 160, 230);
            transform: scale(1.04);
        }
    }

    .active {
        color: rgb(106, 160, 230);
        text-decoration: underline;
    }
}